@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria-Light.woff') format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria-ExtraBold.woff') format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "sf pro display";
    src: url('https://app.gastrosoft.by/widget/fonts/Geometria-Heavy.woff') format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/* --- Message --- */
/* Обёртка */
html .fpsmart__bg { position: fixed; cursor: default; z-index: 9999999999; bottom: -100px; left: 0; right: 0; }
/* Блок с сообщением */
/* Скрываем блок с сообщением, когда показаны кнопки */
html .fpsmart__bg > .fpsmart { position: relative; max-width: 475px; background-color: #fff; box-shadow: 0 0 50px 0 rgba(0, 0, 0, .3); margin: 0 auto; color: #000; display: block; box-sizing: border-box; text-decoration: none; }
html .fpsmart__bg--show > .fpsmart { animation: ascend 400ms ease-out; animation-fill-mode: forwards; }
html .fpsmart__bg--hide > .fpsmart { animation: ascend-off 200ms ease-out; animation-fill-mode: forwards; }
/* Скрываем блок с сообщением, когда показан QR */
html .fpsmart__bg--qr > .fpsmart { animation: ascend-off 300ms ease-out; animation-fill-mode: forwards; }
html .fpsmart__bg--cookies.fpsmart__bg--qr > .fpsmart { display: none; }
html .fpsmart__bg--cookies > .fpsmart { box-shadow: none }
/* Кнопка закрыть сообщение */
html .fpsmart__close { position: absolute; background: url(i/close.svg) no-repeat 50%; cursor: pointer; transition: background-color 200ms, box-shadow 200ms; width: 38px; height: 38px; top: -1px; right: 1px; }
/* Логотип компании */
html .fpsmart__logo { border-radius: 5px; position: absolute; }
/* Заголовок сообщения */
html .fpsmart__title { margin: 0 0 3px 0; }




/* DESKTOP */
@media screen and (min-width: 475px) {
    html .fpsmart { padding: 12px 123px 10px 95px; border-radius: 5px; min-height: 85px; }
    html .fpsmart__logo { width: 75px; height: 75px; left: 5px; top: 5px; }
    html .fpsmart__close { opacity: .7; }
    html .fpsmart__title { font: 600 16px/16px 'sf pro display', arial; }
    html .fpsmart__text { font: 400 14px/14px 'sf pro display', arial; }


    /* Анимация появления сообщения */
    @keyframes ascend {
        0% { transform: translateY(0); }
        50% { transform: translateY(-125px); }
        100% { transform: translateY(-110px); }
    }

    /* Анимация скрытия сообшиния */
    @keyframes ascend-off {
        0% { transform: translateY(-110px); }
        50% { transform: translateY(-125px); }
        100% { transform: translateY(0); }
    }


    /* HOVER */
    html .fpsmart__close:hover { opacity: 1; }
}


/* MOBILE */
@media screen and (max-width: 474px) {
    html .fpsmart { padding: 12px 44px 10px 75px; min-height: 75px; }
    html .fpsmart__logo { left: 5px; top: 5px; width: 65px; height: 65px; }
    html .fpsmart__title { font: 600 14px/15px 'sf pro display', arial; }
    html .fpsmart__text { font: 300 12px/13px 'sf pro display', arial; }

    @keyframes ascend {
        0% { transform: translateY(0); }
        50% { transform: translateY(-115px); }
        100% { transform: translateY(-100px); }
    }

    @keyframes ascend-off {
        0% { transform: translateY(-110px); }
        50% { transform: translateY(-125px); }
        100% { transform: translateY(0); }
    }
}

/* --- END Message --- */







/* --- Button --- */
/* Показываем кнопки */
html .fpsmart__buttons { transform: translateY(0); transition: transform 200ms, box-shadow 200ms; width: 89px; height: 40px; position: fixed; bottom: 0; left: 0; right: 0; margin: auto; background-color: rgba(0, 0, 0, .75); border-radius: 5px 5px 0 0; cursor: pointer; border: none; font: 0/0 a; }
/* Задержка перед появлением кнопок */
html .fpsmart__bg--hide .fpsmart__buttons { transition-delay: 400ms; }
/* Скрываем кнопки */
html .fpsmart__bg--show > .fpsmart__buttons { transform: translateY(100px); }
/* Скрываем кнопки при активном QR */
html .fpsmart__bg--qr > .fpsmart__buttons { display: none; }

html .fpsmart__bg--with-left-clutter .fpsmart__buttons { bottom: 150px; }

/* Кнопка с мобильным магазином */
html .fpsmart__button { width: 50%; height: 100%; display: inline-block; vertical-align: baseline; transform: scale(1); transition: transform 200ms; }
html .fpsmart__button--googleplay { background: url(i/google-play.svg) no-repeat 18px 13px; }

html .fpsmart__button--appstore { background: url(i/apple.svg) no-repeat right 14px top 9px; }

/* Если блок с кнопками находится слева */
html .fpsmart__bg--left-buttons > .fpsmart__buttons { top: 0; right: initial; border-radius: 0 5px 5px 0; width: 40px; height: 89px; transform: translateX(0); }
html .fpsmart__bg--left-buttons.fpsmart__bg--show .fpsmart__buttons { transform: translateX(-50px); }
html .fpsmart__bg--left-buttons .fpsmart__button { width: 100%; height: 50%; }
html .fpsmart__bg--left-buttons .fpsmart__button--googleplay { background-position-x: 50%; }
html .fpsmart__bg--left-buttons .fpsmart__button--appstore { background-position: right 13px top 8px; }

/* https://kintaro.by/ */
html .fpsmart__bg--right-buttons > .fpsmart__buttons { top: 0; left: initial; right: 0; border-radius: 5px 0 0 5px; width: 40px; height: 89px; transform: translateX(0); }
html .fpsmart__bg--right-buttons.fpsmart__bg--show .fpsmart__buttons { transform: translateX(-50px); }
html .fpsmart__bg--right-buttons .fpsmart__button { width: 100%; height: 50%; }
html .fpsmart__bg--right-buttons .fpsmart__button--googleplay { background-position: right 7px top 12px; }
html .fpsmart__bg--right-buttons .fpsmart__button--appstore { background-position: right 10px top 8px; }

/* DESKTOP */
@media screen and (min-width: 475px) {

    /* HOVER */
    html .fpsmart__button--googleplay:hover { transform: scale(1.1); }
    html .fpsmart__button--appstore:hover { transform: scale(1.1); }
}


/* --- END Button --- */






/* --- QR --- */

/* DESKTOP */
@media screen and (min-width: 475px) {
    /* Блок с QR */
    html .fpsmart__qr { position: fixed; width: 320px; height: 532px; border-radius: 10px; background-color: #fff; left: 0; top: 0; right: 0; bottom: 0; margin: auto; padding: 29px 67px 31px 68px; text-align: center; box-shadow: 0 0 50px 0 rgba(0, 0, 0, .3); transform: scale(0); box-sizing: border-box; }

    html .fpsmart__qr-close { position: absolute; background: url(i/close.svg) no-repeat 50%; width: 50px; height: 50px; top: 16px; right: 8px; cursor: pointer; opacity: .5; transition: opacity 200ms; }
    html .fpsmart__qr-close:hover { opacity: .8; }

    html .fpsmart__bg--qr:before { content: ""; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.8); }

    html .fpsmart__bg--qr > .fpsmart__qr { transform: scale(1); transition: transform 300ms; }
    /* Кнопка закрыть QR */
    html .fpsmart__qr-thanks { padding: 0; font: 400 20px/42px 'sf pro display'; height: 38px; border-radius: 6px; background-color: #00CB0C; color: #fff; border: none; width: 100%; cursor: pointer; transition: transform 300ms; }
    html .fpsmart__qr-thanks:hover { background-color: #009b0c; }


    /* Заголовок QR */
    html .fpsmart__caption { font: 800 25px/25px 'sf pro display'; color: #000; margin: 0 0 8px 0; }
    html .fpsmart__caption-sub { font: 400 18px/22px 'sf pro display'; color: #000; margin: 0 0 19px 0; }
    /* Изображение QR */
    html .fpsmart__image { width: 185px; height: 185px; display: block; margin: 10px auto 18px auto; }
    /* Подсказка QR */
    html .fpsmart__hint { font: 400 13px/18px 'sf pro display'; color: #939393; margin: 0 0 17px 0; }


    @media screen and (max-height: 665px) {
        html .fpsmart__caption { margin-bottom: 19px; }
        html .fpsmart__caption-sub { display: none; }
        html .fpsmart__qr { height: 482px; }
    }

}


/* MOBILE */
@media screen and (max-width: 474px) {
    html .fpsmart__qr { display: none; }
}


/* --- END QR --- */